body {
    font-family: 'Oswald', sans-serif;
    background-color: #5cdb98;
    color: #6c149e;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    font-size: 50;
    text-align: center;
}

h1 {
    font-size: 40pt;
}

header {
    text-align: center;
}

/* hero Section */

#hero, footer {
    color: #D9A74A;
    border: 2px solid #764C8F;
    background-color: #8C6722;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 200px;;
}

/* Bio Section */

#bio {
    text-align: center;
}

/* Hobbies Section*/

#hobbies ul li:nth-child(even)  {
    color: black;
}

/* Gallery Section*/

#gallery {
    border: 2px solid #764C8F;
}

#gallery img {
    max-width: 100%;
}

#gallery figure{
    text-align: center;
}